@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova_regular.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


* {
	box-sizing: border-box;
	transition: all .2s ease-in-out;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	background-color: #fff;
	color: #999999;
	min-height: 100%;
	max-width: 1520px;
}
.container{
    margin: 0 auto;
    max-width: 600px;
}
.section{
	padding: 60px 0;
	display: flex;
	justify-content: space-between;

	&__image{
		width: 190px;
		img{
			width: 190px;
		}
	}
	&__describe{
		width: 340px;
	}
	&__title{
		font-family: 'proxima_nova';
		font-size: 2.4rem;
		color: #343434;
		font-weight: bold;
		margin: 0;
	}
	&__text{
		padding: 30px 0;

	}
	&__more{
		text-decoration: none;
		color: #FFF;
		background-color: #f67b7c;
		padding:10px 35px;
		border-radius: 30px;
		outline: none;
		&:hover{
			background-color: #343434;
			color: #f43b3d;

		}
	}
	&--border{
		&:after{
			content: "";
			border-bottom: 1px solid #dddddd;
			width: 1520px;
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}
}	


.section-2{
	// height: 650px;
	padding: 40px 0;
	background-color: #f67b7c;
	color: #fff;
	// text-align: center;
}

.clients{
	&__title{
		padding: 40px 0;
		font-size: 2.4rem;
		font-weight: bold;
		text-align: center;
		&:after{
			content: "";
			border-bottom: 2px solid #fff;
			width: 100px;
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 120%;
			transform: translate(-50%, 0);
		}
	}
	&__text{
		margin: 50px 0;
		display: block;
	}
	&__profile{
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		&-foto{
			height: 275px;
			width: 275px;
			padding: 20px;
			background-color: #fff;
			color:#808080;
			border-radius: 5px;
			text-align: center;	
			img{
				width: 85px;
				border-radius: 50%;
			}
			a{
				text-decoration: none;
				color: #f67b7c;
			}
		}
		&-author{
			color: #262626;
			margin: 20px 0;
			font-weight: bold;
		}
		
	}
}


